img{
    width: 50px;
}

h2{
    font-family: 'Lobster', cursive;
}

.perfil{
    background: beige;
}

.error{
    color : red;
    border-color: red;
}

.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
}