.title{
    font-family: 'Aldrich', sans-serif;
    margin-top : 30px;
    margin-bottom : 30px;
}

.proximo{
    font-family: 'Pacifico', cursive;
}


.panel-resultado{
    margin-top: 50px;
    background: darkgrey;
    border-radius: 10px;
    margin-bottom: 50px;
}

img{
    width: 30px;
}