img{
    width: 300px;
}


.titulo h1{
    background:white;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Lobster', cursive;
}

form{
    background-color: white;
    padding: 10px;
    border: solid green;
    border-radius: 10px;
}

small{
    color : red
}
